* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #000; /* fundo preto */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caixa central */
.login-container {
  width: 90%;
  max-width: 420px;
  background: rgba(20, 20, 20, 0.9);
  padding: 40px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

/* Título */
.login-container h1 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Campos grandes */
.login-container input {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
}

.login-container input::placeholder {
  color: #777;
}

/* Botão */
.login-container button {
  margin-top: 10px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #4b458c;
  color: #fff;
  transition: 0.2s;
}

.login-container button:hover {
  background: #5f59b3;
}
